body{
    margin-left: 0%;
}
html{
    font-family: 'Inter Tight', sans-serif;
    text-shadow: 1px 1px 3px #000000;
    margin: 0%;
    padding: 0%;
}
header{
    font-size: clamp(2rem, 3vw, 4rem);
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'h'
    'h'
    'h';
    grid-gap: 2em;
    height: 10%;
    width: 70%;
    margin-left: 18%;
}
.section{
    margin: 5%;
    background-color: rgb(42, 110, 193);
    border: 2px solid black;
    border-radius: .2em;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.one, .two, .three{
    grid-area: h;
    background-color: rgb(192, 192, 192); 
    color: black; 
    border: 2px solid rgb(146, 146, 146);
    border-radius: .2em;
    font-size: clamp(1.5rem, 3vw, 1rem);
}

img{
    width: clamp(300px, 3vw, 300px);
}
p{
    font-size: clamp(1.5rem, 3vw, 3rem);
}