body{
    font-family: 'Inter Tight', sans-serif;
    text-shadow: 1px 1px 3px #000000;
}
header, footer{
    font-size: clamp(2rem, 3vw, 2.5rem);
    text-align: center;
}
h1{
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-1, .section-2, .section-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(192, 192, 192); 
    border: 2px solid rgb(19, 19, 73);
    border-radius: 10px;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 4px 5px #000000;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1rem);
}
a{
    font-size: 1.5rem;
}
.p{
    background-color: rgb(122, 122, 122); 
    color: black; 
    text-shadow: none;
    border: 2px solid rgb(19, 19, 73);
    border-radius: .2em;
    font-size: clamp(1.5rem, 3vw, 1rem);
}
img{
    width: 50%;
}
