@media(min-width: 900px) {
    main{
        display: grid;
        grid-template-columns: repeat(3, .5fr);
        grid-template-rows: auto;
        column-gap: 10px;
        margin-left: 0%;
    }
    body{
        margin: 5%;
    }
    
    img{
        width: 50%;
    }
    footer{
        font-size: 1fr;
        grid-column: 1/4;
    }
}