@media(min-width: 900px) {
    main{
        display: grid;
        grid-template-columns: repeat(3, .3fr);
        grid-template-rows: auto;
        column-gap: 10%;
        padding: 2%;
        margin-left: 0%;
    }
    body{
        margin: 5%;
    }
    
    img{
        width: 100%;
    }
}