body{
font-family: 'Roboto', sans-serif;
}
/* Header */
header{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: rgb(250, 248, 240);
border-radius: 10px;
border-style: solid;
border-color: rgb(70, 41, 41);
}
.logo{
display: flex;
align-items: center;
justify-content: center;
padding: 2px;
text-shadow: 1px 2px 6px black;
}
h1{
font-size: 30px;
}
.q{
width: 170px;
font-size: 15px;
}
.date{
font-weight: bold;
grid-column: 1/3;
text-align: center;
background-color: blanchedalmond;
}
/* Main content */
.event{
grid-area: 1/1;
padding: 30px;
border-style: solid;
background-color: rgb(250, 248, 240);
border-radius: 5px;
box-shadow: 1px 1px 10px black;
}
.weather{
grid-area: 2/1;
padding: 30px;
border-style: solid;
background-color: rgb(250, 248, 240);
border-radius: 5px;
box-shadow: 1px 1px 10px black;
}
.join{
grid-area: 3/1;
padding: 30px;
border-style: solid;
background-color: rgb(250, 248, 240);
border-radius: 5px;
box-shadow: 1px 1px 10px black;
}
.hero{
grid-area: 1/2;
padding: 30px;
border-style: solid;
background-color: rgb(250, 248, 240);
border-radius: 5px;
box-shadow: 1px 1px 10px black;
}
.news{
grid-area: 2/2;
padding: 30px;
border-style: solid;
background-color: rgb(250, 248, 240);
border-radius: 5px;
box-shadow: 1px 1px 10px black;
}
.spotLight-3{
display: none;
}
.spotLight{
border-style: solid;
padding: 20px;
background-color: rgb(250, 248, 240);
border-radius: 5px;
}
.spotLight-1,.spotLight-2{
display: flex;
align-items: center;
justify-content: center;
border-style: solid;
padding: 30px;
flex-direction: column;
background-color: blanchedalmond;
box-shadow: 1px 1px 10px black;
}
.spotLight img{
width: 100%;
}
.announcement{
font-size: 1.5rem;
text-align: center;
font-weight: bolder;
color: rgb(104, 62, 62);
text-shadow: 1px 2px 6px black;
}
.info{
border-top: solid black;
font-weight: bold;
text-align: center;
font-size: 1.1rem;
}
/* Social Media */
.social-media{
grid-column: 2;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding: 0%;
}
.social-media li{
display: block;
}
.social-media li a{
color: black;
text-decoration: none;
}
.social-media a:hover{
color: white;
border-style: solid;
border-radius: 10px;
border-width: 10px;
border-color: rgb(70, 41, 41);
background-color:rgb(70, 41, 41);
}
/* Navigation */
nav{
grid-column: 1/3;
grid-row: 2;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
nav button{
font-size: 1.5rem;
border-style: none;
background-color: rgb(250, 248, 240);
width: 100%;
}
button:hover{
background-color: rgb(70, 41, 41);
transition: 0.6s;
color: white;
}
nav ul.open {
display: block;
}
#menuButton span:nth-child(1) {
display: none;
}
#menuButton span:nth-child(2) {
display:block;
}
#menuButton.open span:nth-child(1) {
display: block;
}
#menuButton.open span:nth-child(2) {
display: none;
}
nav ul {
width: 100%;
list-style-type: none;
padding: 0;
margin: 0;
display: none;
}
nav ul li a {
font-weight: bolder;
display: block;
padding: 0.5rem 2vw;
text-decoration: none;
color: black;
text-align: center;
}
a:hover {
transition: 0.6s;
color: white;
background-color: rgb(70, 41, 41);
}
/* Footer */
footer{
display: grid;
grid-template-columns: 1fr;
text-align: center;
background-color: rgb(250, 248, 240);
border-radius: 10px;
border-style: solid;
border-color: rgb(70, 41, 41);
;
}
.footing{
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.update{
grid-column: 1/4;
border-top-style: solid;
}